.update-container{
    display: flex;
    width: 100%;
    padding: 5px 10vw;
    align-items: center;
    justify-content: space-between;
}
.update-container > h5{
    font-weight: 700;
}

.gap{
    width: 75%;

}

.marquee{
    width: 75%;
    color:rgb(174, 51, 174);
    font-weight: 300;
    font-size: 20px;
}

@media screen and (max-width: 700px){
    .update-container{
        flex-direction: column;
        align-items: flex-start;
    }

    .marquee{
        width: 100%;
    }

    .gap{
        width: 100%;
    }
}