.welcome-container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2em 10em ;
    text-align: center;
}

.welcome-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2em 0em;
}
.welcome-content > p{
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .welcome-container{
        padding: 2em 2em;
    }
}